In [28]:
data_path='/media/dataStorage/sachin/data_science/tweet_tagging/'

In [40]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import string

import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

[nltk_data] Downloading package stopwords to /home/sachin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/sachin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sachin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [41]:
tr = pd.read_csv(data_path+'/train.csv')
tr = tr.replace(np.nan, '', regex=True)
tr

,id,keyword,location,text,target
0,1,,,Our Deeds are the Reason of this #earthquake M...,1
1,4,,,Forest fire near La Ronge Sask. Canada,1
2,5,,,All residents asked to 'shelter in place' are ...,1
3,6,,,"13,000 people receive #wildfires evacuation or...",1
4,7,,,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,,,Two giant cranes holding a bridge collapse int...,1
7609,10870,,,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,,,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,,,Police investigating after an e-bike collided ...,1
7612,10873,,,The Latest: More Homes Razed by Northern Calif...,1

In [42]:
#Cleaning data(removing punctuations, stop words) and tokenize for keywords anf text fields
def clean_tokenize(dframe):
    #First we remove punctuations from the tweet text
    x = dframe.apply(lambda x : ''.join([words for words in x if words not in string.punctuation])) 
    #re.split('\W',tr_clean['text'][3])
    # them we remove the stopwords by first coverting the text to word tokens and removing the stop words
    x = x.apply(lambda x : ' '.join([w for w in word_tokenize(x) if not w.lower() in stop_words]))
    # then we good word normlization
    lem = WordNetLemmatizer()
    x = x.apply(lambda x : ' '.join([lem.lemmatize(w,'v') for w in word_tokenize(x)]))
    return x.tolist()
#using Multinomail naive bayes classifier to model the features
def multinomailNb(model,inp_test,out_test):  
    predictions = model.predict(inp_test)
    print(confusion_matrix(out_test,predictions))

In [43]:
clean_text = clean_tokenize(tr['text']) 
tfidfvectorizer = TfidfVectorizer(analyzer='word',stop_words= 'english')
tfidf_model = tfidfvectorizer.fit_transform(clean_text)

In [44]:
inp_train, inp_val, out_train, out_val = train_test_split(tfidf_model, np.array(tr['target']), test_size=0.2)
model = MultinomialNB()
out = model.fit(inp_train,out_train)

In [45]:
train_val = multinomailNb(out,inp_val,out_val)

[[796  73]
 [243 411]]

In [50]:
# Predict for test set
te = pd.read_csv(data_path+'/test.csv')
clean_text = clean_tokenize(te['text']) 
tfidf_test = tfidfvectorizer.transform(clean_text)

In [51]:
train_test = model.predict(tfidf_test)

In [53]:
print(train_test[1:100
                ])

[1 1 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0
 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1
 1 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0]

In [54]:
te

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [81]:
#checking the obtained output test values   **********remove
f = open(data_path+'/test.csv')
n=834
print(f.readlines()[n],train_test[n])

2355,collapsed,"Cramerton, NC",That @PPact hasn't already collapsed is a testament to @TheDemocrats lockstep devotion to politics over reality.
 0

In [85]:
!sudo pip3 install jupyterlab

[sudo] password for sachin: